*.o
*.opendb
*.db
*.vcxproj.filters
*.vcxproj.user
.gdbinit
cscope.out
hd-parms.h
splat
splat-hd
splat.h
std-parms.h
tags
utils/bearing
utils/citydecoder
utils/fontdata
utils/srtm2sdf
utils/srtm2sdf-hd
utils/usgs2sdf
x64*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
